{% extends 'layout.html'%}

{% block head %}
<style>
    .about {
        width: 100vw;
        text-align: center;
    }

    .about_image img {
        width: 40vw;
        margin-top: 6%;
        opacity: .70;
    }

    .about_text {
        margin: 20px;
        text-align: left;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        margin-left: 18%;
        margin-right: 18%;
    }

    .about_text h2 {
        font-size: 2vw;
        color: papayawhip;
        margin-top: 20px;
        font-weight: 200;
    }

    .about_text p {
        font-size: 1.4vw;
        color: #cecdcd;
        line-height: 1.5;
        margin-bottom: 20px;
        margin-top: 2%;
        font-weight: 300;
    }

    .about_text_span_1 {
        font-size: 3vw;

    }

    @media (max-width:500px) {
        .about_image img {
            width: 70vw;
        }

        .about_text h2 {
            font-size: 5.5vw;
        }

        .about_text p {
            font-size: 4vw;
        }

        .about_text {
            margin-left: 6%;
            margin-right: 6%;
        }

        .about_text_span_1 {
            font-size: 7vw;

        }
    }

    .end h2 {
        font-size: 4vw;
        font-weight: 400;
        color: navajowhite;
        margin-top: 20%;
        margin-bottom: 2%;
        font-family: bold;
    }

    .end h3 {
        font-size: 3vw;
        font-weight: 300;
        color: rgba(253, 222, 176, 0.811);
        margin-bottom: 20%;
        
    }

.multi {
    background-image: linear-gradient(43deg, #d0a541 0%, #ffedb1 46%, #FFCC70 100% );
    -webkit-background-clip: text;
    color: transparent;
}
</style>
{% endblock %}

{% block body %}
<div class="about">
    <div class="about_image">
        <img id="scrollImage" src="/static/about.jpg" alt="">
    </div>
    <div class="about_text">
        <h2> <span class="about_text_span_1" style="color: aquamarine;">|</span> Your Time Is Precious To Me</h2>

        <p>I am thankful to you that you’re here with your precious time to know me. I hope it will run longer than now.
            I am <span style="color: rgb(253, 255, 127);"> <a style="color: dodgerblue; text-decoration: none; " href="/">Prasun
                    Bhattacharyay</a>,</span> a <span class="multi" > Digital marketing project
                manager. </span> Side by side, I also use the Canva platform
            very well. I am working with multiple brands for now as a <span style="color: rgb(227, 127, 255);">
                marketing manager & ads expert. </span> </p>

        <h2><span class="about_text_span_1" style="color: rgb(255, 127, 127);">|</span> Engineer By Paper, Marketer By
            Actions</h2>

        <p>From an engineer to a digital marketer, the journey was full of struggle, less sleep nights & lessons. I
            started working as a <span class="multi"> Content writer </span> & started growing
            myself day by day. I put my 4 hours daily into
            learning new things about the online marketing procedure. </p>

        <h2><span class="about_text_span_1" style="color: rgb(195, 127, 255);">|</span> Basics Make Me Strong For Long
        </h2>

        <p>Firstly, I learned about <span style="color: rgb(127, 255, 163);"> social media management </span> & its
            basics. I go through each & every detail of it. I
            never leave any aspect of chances. How it grows a business how to <span style="color: rgb(255, 127, 127);">
                generate leads</span> everything. Then I helped
            one of my uncle’s businesses to grow online. It’s a food channel, & I learn about the needs of people & why
            they will stick to us for the long term. But I want to learn more…</p>

        <h2><span class="about_text_span_1" style="color: rgb(253, 255, 127);">|</span> I Note Down Knowledge To Recall
            It Timely</h2>

        <p>Then I connect with a growing Digital Marketing agency & serve them all things about social media. But I am
            not satisfied not about my knowledge; I crave more knowledge of it. I took a course in overall Digital
            Marketing & practiced it with my recent clients daily. I enhance <span style="color: rgb(255, 127, 242);">
                my expertise to the next level.</span> </p>

        <h2><span class="about_text_span_1" style="color: rgb(255, 193, 127);">|</span> Some Helps Never Be Forgotten
        </h2>

        <p>As a marketing manager of Digital Agency, I am gaining all kind of businesses & their growing tricks. <span
                class="multi"> I note
                down each & every point of learning. </span> That’s helped me better & prepare for future applications. </p>

        <h2><span class="about_text_span_1" style="color: aquamarine;">|</span> Connection With Trends Making Me Better
            Day By Day</h2>

        <p>Now, I am learning the Full-fledged AI that creates differences in the DIGITAL MARKETING field. I will learn
            & apply it to my work; <span style="color: rgb(255, 127, 168);"> it will save my &
                my client’s time for growth.</span>  </p>
    </div>
    <div class="end" style="text-align: left; margin-left: 8%; ">
        <h2>Thank You !</h2>
        <h3> Prasun Bhattacharyay </h3>
    </div>
</div>


<script>
    var image = document.getElementById("scrollImage");

    function updateImageOpacity() {
        var scrollPosition = window.scrollY;
        var maxScroll = 400;
        var opacity = 1 - (scrollPosition / maxScroll);
        opacity = Math.max(0, Math.min(1, opacity));
        image.style.opacity = opacity.toString();
    }

    window.addEventListener("scroll", updateImageOpacity);
    updateImageOpacity();
</script>

{% endblock %}