{% extends 'layout.html'%}

{% block body %}
<div class="design">
    <h1> My Canva Design Sample </h1>
    <div class="design_child">
        <div class="design_items">
            <img src="/static/Design1.png" alt="">
        </div>
        <div class="design_items">
            <img src="/static/Design2.png" alt="">
        </div>
        <div class="design_items">
            <img src="/static/Design3.png" alt="">
        </div>
        <div class="design_items">
            <img src="/static/Design4.png" alt="">
        </div>
        <div class="design_items">
            <img src="/static/Design5.png" alt="">
        </div>
        <div class="design_items">
            <img src="/static/Design6.png" alt="">
        </div>
        <div class="design_items">
            <img src="/static/Design7.png" alt="">
        </div>
        <div class="design_items">
            <img src="/static/Design8.png" alt="">
        </div>
        <div class="design_items">
            <img src="/static/Design9.png" alt="">
        </div>
        <div class="design_items">
            <img src="/static/Design10.png" alt="">
        </div>
        <div class="design_items">
            <img src="/static/Design11.png" alt="">
        </div>
        <div class="design_items">
            <img src="/static/Design12.png" alt="">
        </div>
        <div class="design_items">
            <img src="/static/Design13.png" alt="">
        </div>
        <div class="design_items">
            <img src="/static/Design14.png" alt="">
        </div>
    </div>
{% endblock %}