{% extends 'layout.html'%}

{% block body %}
<div class="design">
    <h1 style="text-align: center;  z-index: 8; margin-top:8% ;">My Canva Design Sample</h1>
    <div class="design_child">
        <div class="design_items">
            <img src="/static/Design1.png" loading="lazy" alt="">
        </div>
        <div class="design_items">
            <img src="/static/Design2.png"  loading="lazy" alt="">
        </div>
        <div class="design_items">
            <img src="/static/Design3.png" loading="lazy" alt="">
        </div>
        <div class="design_items">
            <img src="/static/Design4.png" loading="lazy"  alt="">
        </div>
        <div class="design_items">
            <img src="/static/Design5.png"loading="lazy"  alt="">
        </div>
        <div class="design_items">
            <img src="/static/Design6.png" loading="lazy" alt="">
        </div>
        <div class="design_items">
            <img src="/static/Design7.png" loading="lazy" alt="">
        </div>
        <div class="design_items">
            <img src="/static/Design8.png" loading="lazy" alt="">
        </div>
        <div class="design_items">
            <img src="/static/Design9.png" loading="lazy" alt="">
        </div>
        <div class="design_items">
            <img src="/static/Design10.png" loading="lazy" alt="">
        </div>
        <div class="design_items">
            <img src="/static/Design11.png" loading="lazy" alt="">
        </div>
        <div class="design_items">
            <img src="/static/Design12.png" loading="lazy" alt="">
        </div>
        <div class="design_items">
            <img src="/static/Design13.png" loading="lazy" alt="">
        </div>
        <div class="design_items">
            <img src="/static/Design14.png" loading="lazy" alt="">
        </div>
    </div>
{% endblock %}