{% extends 'layout.html'%}
{% block head %}
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<style>
    .section_1_items.animate h1 {
        animation: h1tag 4s;
        text-align: left;
    }

    @keyframes h1tag {
        0% {
            transform: translateX(-100vw);
        }

        50% {
            transform: translateX(50px);
        }

        100% {
            transform: translateX(0);
        }
    }

    .section_1_items.animate .p1 {
        animation: ptag 3s;
    }

    .section_1_items.animate .p2 {
        animation: ptag 4s;
    }

    .section_1_items.animate .p3 {
        animation: ptag 5s;
    }

    @keyframes ptag {
        0% {
            transform: translateX(100vw);
        }

        50% {
            transform: translateX(50px);
        }

        100% {
            transform: translateX(0);
        }
    }

    .section_1_items.animate .start {
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 4vw;
        padding: 2%;
        opacity: .9;
        animation: h2r 5s;
        margin-top: 8%;
    }

    @keyframes h2r {
        0% {
            transform: translateX(-100vw);
            opacity: 0;
        }

        20% {
            transform: translateX(-100vw);
            opacity: 0;
        }

        70% {
            transform: translateX(30vw);
        }

        100% {
            transform: translateX(0);
            opacity: 1;
        }

    }

    .section_1 {
        max-width: 90vw;
        margin: 0 auto;
    }



    .btn {
        background-color: #ffffff;
        color: #160017;
        padding: .80%;
        border: none;
        border-radius: 4%;
        border-end-start-radius: 20%;
        margin-right: 4%;
        margin-left: 4%;
        cursor: pointer;
        font-size: 2.5vw;

    }


    .ani_button {
        display: flex;
        justify-content: left;
        -ms-align-items: left;
        align-items: left;
        margin-left: 4%;
        margin-top: 6%;
    }

    .ani_btn {
        position: relative;
        width: 24vw;
        display: flex;
        justify-content: center;
        -ms-align-items: center;
        align-items: center;
        background-color: #b300b3;
        border-radius: 12px;
        overflow: hidden;
        transition: transform 0.2s, box-shadow 0.2s;
        cursor: pointer;
        position: relative;
        box-shadow: 5px 5px 5px -1px rgba(12, 12, 12, 0.751);
    }

    .ani_btn:hover {
        transform: translateY(-5px);
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
    }

    .ani_btn p {
        font-size: 1.6vw;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        margin: 4%;
        z-index: 2;
        padding: 3%;
    }

    @media (max-width:500px) {

        .ani_btn {
            width: 30vw;
        }

        .ani_btn p {
            font-size: 2vw;
        }

        .ani_btn::after {
            inset: 1px;
        }
    }

    .ani_btn::before {
        content: '';
        position: absolute;
        width: 100px;
        height: 230px;
        margin-bottom: -80%;
        background: linear-gradient(#b300b357, #b300b349, #b300b356, #b300b37b, #ff33cf32, #f5edeb9d, #faf4f9a2);
        box-shadow: 0px 10px 20px rgba(255, 254, 254, 0.543);
        filter: blur(10px);
        animation: rotate 2s linear infinite;
        top: 0;
        left: 0;
        transform: scale(0);
        transition: transform 0.2s;
    }

    .ani_btn::after {
        content: '';
        position: absolute;
        background-color: #080808;
        margin-right: 1px;
        margin-top: 1px;
        inset: 2px;
        border-width: 1px;
        border-radius: 12px;
    }

    @keyframes rotate {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(260deg);
        }
    }

    .btn:hover {
        background-color: #0056b3;
        color: #fff;
    }

    @import url(http://fonts.googleapis.com/css?family=Open+Sans);
    @import url(http://fonts.googleapis.com/css?family=Montserrat:700);

    .video {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 7;
    }

    .video-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 80%;
    }

    .video_close {
        position: absolute;
        top: 20px;
        right: 20px;
        color: white;
        cursor: pointer;
    }

    .video_img {
        display: flex;
        justify-content: center;
    }

    .video_img button {
        border: none;
        cursor: pointer;
        background-color: #160017;
    }

    .video_img img {
        width: 65vw;
    }

    .accordion {
        width: 100%;
        max-width: 90vw;
        height: 350px;
        overflow: hidden;
        margin: 50px auto;
    }

    .accordion ul {
        width: 90%;
        display: table;
        table-layout: fixed;
        margin: 4%;
        padding: 0;
    }

    .accordion ul li {
        display: table-cell;
        vertical-align: bottom;
        position: relative;
        width: 16.666%;
        height: 350px;
        background-repeat: no-repeat;
        background-position: center center;
        transition: all 500ms ease;
        border-style: solid;
        border-color: rgba(158, 255, 219, 0.705);
        border-width: 0px 0px 0px 2px;
    }

    .accordion ul li div {
        display: block;
        overflow: hidden;
        width: 100%;
    }

    .accordion ul li div {
        display: block;
        height: 350px;
        width: 100%;
        position: relative;
        z-index: 3;
        vertical-align: bottom;
        padding: 15px 2px;
        box-sizing: border-box;
        text-decoration: none;
        font-family: Open Sans, sans-serif;
        transition: all 200ms ease;
    }

    .accordion ul li div a * {
        opacity: 1;
        margin: 0;
        padding-left: 10px;
        width: 100%;
        position: relative;
        z-index: 5;
        white-space: nowrap;
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px);
        -webkit-transition: all 500ms ease;
        transition: all 500ms ease;
    }

    .accordion ul li div a h2 {
        font-family: Montserrat, sans-serif;
        font-size: 16px;
        text-transform: uppercase;
        margin-top: 10px;
    }

    .accordion ul li div a p {
        font-size: 13.5px;
    }

    .client {
        font-family: Montserrat, sans-serif;
        text-overflow: clip;
        font-size: 16px;
        text-transform: uppercase;
        margin-top: 160px;

    }

    .accordion ul:hover li {
        width: 8%;
    }

    .accordion ul:hover li:hover {
        width: 60%;
    }

    .accordion ul:hover li:hover a {
        background: rgba(0, 0, 0, 0.4);
    }

    .accordion ul:hover li:hover a * {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    @media screen and (max-width: 100px) {

        body {
            margin: 0;
        }

        .accordion {
            height: auto;
        }

        .accordion ul li,
        .accordion ul li:hover,
        .accordion ul:hover li,
        .accordion ul:hover li:hover {
            position: relative;
            display: table;
            table-layout: fixed;
            width: 100%;
            -webkit-transition: none;
            transition: none;
        }
    }


    .bg {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .bg::before {
        content: '';
        position: absolute;
        height: 330px;
        width: 330px;
        border-radius: 50%;
        background: linear-gradient(rgba(249, 70, 160, 0.806), rgb(110, 2, 120));
        transform: translate(-200px, -250px);
        opacity: 0.6;
    }

    .bg::after {
        content: '';
        position: absolute;
        height: 330px;
        width: 330px;
        border-radius: 50%;
        background: linear-gradient(rgba(25, 0, 255, 0.936), rgb(110, 2, 120));
        transform: translate(200px, 400px);
        opacity: 0.4;
    }

    .ball_1 {
        height: 30vw;
        width: 60vw;
        border-radius: 90% 10% 41% 31% / 83% 10% 86% 32% ;
        background-color: #5b0046;
        transform: translate(-0px, -30vw);
        position: absolute;
        opacity: 0.8;
        filter: blur(6vw);
        z-index: 0;
    }

    .ball_2 {
        height: 180vw;
        width: 80vw;
        border-radius: 86% 16% 100% 0% / 54% 7% 90% 21% ;
        background-color: #ff00c3;
        transform: translate(-0px, 50vw);
        position: absolute;
        opacity: 0.6;
        filter: blur(4vw);
        z-index: 1;
    }

    .right-content img {
        display: none;
    }
    .section_3,
    .section_4 {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    }

    .section_3_items {
        border: 2px solid #4d1044d0;
        text-align: center;
        margin: 4%;
        padding: 4%;
        border-radius: 2vw;
        z-index: 4;
        backdrop-filter: blur(10px);
    }

    .section_3_items img {
        width: 60vw;
        margin: 4%;
    }


    .section_4_child {
        margin: 6%;
        padding: 4%;
        border-radius: 10px;
        background: rgba(255, 255, 255, 0.105);
        box-shadow: 0 1px 1px rgba(235, 233, 233, 0.71);
        backdrop-filter: blur(1px);
        position: relative;
        z-index: 4;
        backdrop-filter: blur(5px);
    }

    .section_5_items {
        margin: 2%;
        padding: 2%;
        z-index: 1;
    }

    lottie-player {
        width: 60vw;
    }

    @media (min-width:500px) {
        .video_img img {
            width: 60vw;
        }

        .section_3 {
            grid-template-columns: repeat(auto-fit, minmax(100vw, 1fr));
        }

        .section_3_items img {
            width: 50vw;
        }

        lottie-player {
            width: 20vw;
        }

        .section_4 {
            grid-template-columns: repeat(auto-fit, minmax(40vw, 1fr));
        }

        .section_4 h2,
        .section_3 h1 {
            font-size: 2vw;
            margin-bottom: 2%;
        }

        .section_4 p,
        .section_3 p {
            font-size: 1.2vw;
        }

        .section_3_items {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 40px;
            margin: 2%;
            padding: 1%;
        }

        .left-content {
            flex: 1;
            padding: 0 20px;
            box-sizing: border-box;
        }

        .left-content img {
            display: none;
        }
        .right-content img {
            display: block;
            padding-right: 10%;
        }
    }
</style>
{% endblock %}
{% block body %}

<div class="title">
    <div class="title_child">
        <div class="title_items">
            <div class="title_items_role">
                <h1>I will put in the efforts to implement online reputations & best sales figures of your brand!
                    Communication erases the confusions.</h1>
            </div>
            <div style="margin-left: 8%;" class="ani_button">
                <a href="tel:+919563432724">
                    <div class="ani_btn">
                        <p>CALL ME NOW</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="title_items">
            <img src="/static/main.jpg" alt="">
        </div>
    </div>
</div>
<div class="ball_1"></div>
<section class="section_1">
    <div class="section_1_child">
        <div class="section_1_items">
            <h1>I will help make your brand stand out With a proven strategy, we'll boost your ROI, brand reach, and
                identity.</h1>
            <p class="p1"> <span> &#10052 </span> Where is your business now <span> &#10068 </span></p>
            <p class="p2"> <span> &#10052 </span> Is it stagnating <span> &#10068 </span></p>
            <p class="p3"> <span> &#10052 </span> Are your campaigns underperforming <span> &#10068 </span></p>
            <h2 class="start"><i> 'It's time for a fresh start'</i></h2>
        </div>
    </div>
</section>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const section1Items = document.querySelector('.section_1_items');
        const observer = new IntersectionObserver(entries => {
            entries.forEach(entry => {
                if (entry.isIntersecting) {
                    section1Items.classList.add('animate');
                    observer.unobserve(section1Items);
                }
            });
        });
        observer.observe(section1Items);
    });
</script>
<div class="video_img"><button id="openVideo"><img src="/static/video.webp" alt=""></button></div>
<div class="video" id="videoModal">
    <div class="video-content">
        <span class="video_close" id="closeVideoModal">&times;</span>
        <iframe title="vimeo-player" src="" width="100%" height="100%" frameborder="0" allowfullscreen
            id="videoFrame"></iframe>
    </div>
</div>
<script>
    var modal = document.getElementById("videoModal");
    var closeBtn = document.getElementById("closeVideoModal");
    var videoFrame = document.getElementById("videoFrame");
    function openVideoPopup() {
        modal.style.display = "block";
        videoFrame.src = "https://player.vimeo.com/video/838252412?h=b7c3fd9e82";
    }
    function closeVideoPopup() {
        modal.style.display = "none";
        videoFrame.src = "";
    }
    document.getElementById("openVideo").addEventListener("click", openVideoPopup);
    closeBtn.addEventListener("click", closeVideoPopup);
    window.addEventListener("click", function (event) {
        if (event.target == modal) {
            closeVideoPopup();
        }
    });
</script>

<div class="section_3">
    <div class="section_3_items">
        <div class="left-content">
            <h1>GROW YOUR REVENUE & ROI!</h1>
            <img src="/static/section_3_1.png" alt="">
            <p>Grow your revenue by understanding the market requirements & applications. Creators & businessmen face
                multiple challenges while operating a business or a channel with the help of digital sources. We have to
                take care of initial matters that you have to take care of.
                <br><br>
                First, clarify your goal outline. I always take care of goals on a serious note. Without destination
                identification, we may not make a suitable path, or we fail to analyze our process!
                <br><br>
                When it comes to strategy, by driving it properly, businesses handle the point of success. I take an
                additional period to make the proper strategy for our path & after getting effects, I follow the best
                thing
                for a business to drive more sales or growth.
                <br><br>
                After the goal & making strategy, the analysis & the action to it are more than essential. The proper
                analysis can make you grow as soon as possible. I always trust that, if we have an idea about "What &
                why"
                then it will be easy to read a business analysis.
            </p>
            <div class="ani_button">
                <a href="tel:+919563432724">
                    <div class="ani_btn">
                        <p>CALL ME NOW</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="right-content">
            <img src="/static/section_3_1.png" alt="">
        </div>
    </div>
    <div class="section_3_items">
        <div class="left-content">
            <h1>SOLUTION TO PAIN OF INCOMPLETE TASKS!</h1>
            <img src="/static/section_3.webp" alt="">
            <p> Business is not about thoughts, it's all about implementation! The priority activities set our goal to a
                new
                reach. For each & every idea, need some specific actions.
                <br><br>
                When I make a strategy for a business, the movement part is one of the vital parts of that plan, I
                accept.
                While creating a procedure program, I always keep in mind what is doable or not.
                <br><br>
                Understanding the team is the crucial thing. That makes a difference. The skill set of a member defines
                their ability to complete a task. We have to share tasks as per ability, not as quantity.
                <br><br>
                I have worked with multiple teams & members. I always know what they can put into our vision.

            </p>
            <div class="ani_button">
                <a href="tel:+919563432724">
                    <div class="ani_btn">
                        <p>CALL ME NOW</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="right-content">
            <img src="/static/section_3.webp" alt="">
        </div>
    </div>
    <div class="section_3_items">
        <div class="left-content">
            <h1>GROW YOUR KNOWLEDGE WITH ME WITHOUT ANY INVESTMENT!</h1>
            <img src="/static/section_3.webp" alt="">
            <p> Many small businesses have the potential to drive more sales & growth. By learning the lost points of
                firms,
                businesses or profiles can grow. In that case, you need some consultation to understand digital
                resources.
                <br><br>
                Why it's important? People are spending money without ROI & outcome knowledge. As I know, marketing
                through
                online platforms is a new thing to many businessmen. But my consultation will help to grow the business
                without second thoughts or misuse of their hard money.
                <br><br>
                Like, I saw a few dissimilar Facebook ads floating on my feed without proper guidance. They are
                investing
                the money in non-target audiences. I want to stop this kind of approach. Do what makes you feel
                "Satisfied."
                <br><br>
                Just book a free consultation with me & understand how things are working nowadays. These 15 minutes
                give
                you an idea about "How to deal with Digital marketing approach."

            </p>
            <div class="ani_button">
                <a href="tel:+919563432724">
                    <div class="ani_btn">
                        <p>CALL ME NOW</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="right-content">
            <img src="/static/section_3.webp" alt="">
        </div>
    </div>
</div>
</div>

<div class="section_5">
    <div class="section_5_items" style=" z-index: 2;">
        <h2 style="font-size: 10vw;">Business Needs</h2>
        <h2 style="text-align: right; font-size: 7vw;  font-weight: 300; margin-top: 3%;  z-index: 4; ">Proper Attention & Care!</h2>
        <p style="margin-top: 10%;  z-index: 2;">"The strategy Defines The Path, The goal Defines The Destination, and action Defines
            That You Are Growing "
        </p>
    </div>
</div>
<h1 style="text-align: center;  z-index: 8; ">SERVICES I OFFER</h1>

<div class="section_4">
    <div class="ball_1"></div>
    <div class="section_4_child">
        <div class="card">
            <lottie-player src="https://lottie.host/496a9cee-b166-4110-a9d8-7c5cfb3610f9/qBcyHT2hYT.json"
                background="transparent" speed="1" direction="1" mode="normal" loop autoplay></lottie-player>
            <h2>Performance Marketing</h2>
            <p>
                Your brand deserves a legendary sales history. Experience the impact of performance marketing. It's time
                to outperform, outshine, and outgrow your competition.
            </p>
        </div>
    </div>
    <div class="section_4_child">
        <div class="card">
            <lottie-player src="https://lottie.host/de01d656-99b1-4d3c-a8ff-1933aa7faf41/6aQtTYpzOS.json"
                background="transparent" speed="1" direction="1" mode="normal" loop autoplay></lottie-player>
            <h2>Social Media Marketing</h2>
            <p>
                Maximize your online presence. My social media marketing strategies will help you stand out and
                drive
                business growth smartly.
            </p>
        </div>
    </div>
    <div class="section_4_child">
        <div class="card">
            <lottie-player src="https://lottie.host/a78de5f9-47ad-4a1d-a06b-af6e89d437b3/vzQq2dE5K6.json"
                background="transparent" speed="1" direction="1" mode="normal" loop autoplay></lottie-player>
            <h2>Digital Marketing</h2>
            <p>
                I am here to upgrade the online performances with data-driven strategies. Let's enhance your brand
                and
                drive success.
            </p>
        </div>
    </div>
    <div class="section_4_child">
        <div class="card">
            <lottie-player src="https://lottie.host/5eca545b-2cf1-44ea-8a4e-a43beaa97c64/OO9nun21cK.json"
                background="transparent" speed="1" direction="1" mode="normal" loop autoplay></lottie-player>
            <h2>Canva Design</h2>
            <p>
                I turn concepts into eye-catching & informative visuals. Canva, one of the finest tool to implement
                designs.
            </p>
        </div>
    </div>
</div>
<div class="ball_1" style="transform: translate(20vw, -240vw);"></div>
<div class="ball_1" style="transform: translate(10vw, -120vw);"></div>
<div class="ball_1" style="transform: translate(0vw, -320vw);"></div>
<div class="ball_1"></div>
<div class="section_6">
    <p style="margin: 8%; color:#fff;  font-size: 2.8vw; ">I want to grow your business as I want to grow myself. I know
        we depend on each other. I put all my hard
        knowledge, expertise & growth tricks to reach the top.</p>
</div>

<div class="design">
    <h1>My Canva Design Sample</h1>
    <div class="design_child">
        <div class="design_items">
            <img src="/static/Design2.png" alt="">
        </div>
        <div class="design_items">
            <img src="/static/Design10.png" alt="">
        </div>
    </div>
    <div class="design_see_more">
        <a href="/canva"><button>See More</button></a>
    </div>

</div>
<div class="work" id="work">
    <h1>My Work</h1>
    <div class="work_child">
        <div class="work_items">
            <img src="/static/section_3.webp" alt="">
        </div>
        <div class="ani_button">
            <a href="/work">
                <div class="ani_btn">
                    <p>See More</p>
                </div>
            </a>
        </div>
    </div>
</div>
<h1>What People Say About me</h1>
<div class="accordion">
    <ul>
        <li style="border-color: rgb(219, 213, 255);">
            <div>
                <h2>Lorem Ipsum</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                <p class="client">Client name goes here</p>
            </div>
        </li>
        <li style="border-color: rgb(234, 255, 213);">
            <div>
                <h2>Lorem Ipsum</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            </div>
        </li>
        <li style="border-color: rgb(255, 213, 213);">
            <div>
                <h2>Lorem Ipsum</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            </div>
        </li>
        <li style="border-color: rgb(255, 182, 244);">
            <div>
                <h2>Lorem Ipsum</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            </div>
        </li>
        <li>
            <div>
                <h2>Lorem Ipsum</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            </div>
        </li>
    </ul>
</div>

<h1 style="margin-left: 4%; font-size: 6vw;">Let's grow together !</h1>
<p style="margin-left: 8%;">theknightmarketer@gmail.com</p>
<div class="ani_button" style="justify-content: end; margin-right: 6%; margin-top: 2%">
    <a href="mailto:theknightmarketer@gmail.com">
        <div class="ani_btn">
            <p>MAIL ME NOW</p>
        </div>
    </a>

</div>

{% endblock %}