{% extends 'layout.html'%}
{% block head %}
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<style>
    .section_1_items p {
        position: relative;
        font-size: 3vw;
        margin-left: 2%;
        margin-top: 2%;
        margin-bottom: 2%;
    }

    .section_1_items.animate h1 {
        animation: h1tag 4s;
        text-align: left;
        font-size: 4vw;
        color: papayawhip;
        font-weight: 400;
    }

    @keyframes h1tag {
        0% {
            transform: translateX(-100vw);
        }

        50% {
            transform: translateX(50px);
        }

        100% {
            transform: translateX(0);
        }
    }

    .section_1_items.animate .p1 {
        animation: ptag 3s;
    }

    .section_1_items.animate .p2 {
        animation: ptag 4s;
    }

    .section_1_items.animate .p3 {
        animation: ptag 5s;
    }

    @keyframes ptag {
        0% {
            transform: translateX(100vw);
        }

        50% {
            transform: translateX(50px);
        }

        100% {
            transform: translateX(0);
        }
    }

    .section_1_items.animate .start {
        text-align: center;
        color: peachpuff;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 4vw;
        padding: 2%;
        opacity: .9;
        animation: h2r 5s;
        margin-top: 8%;
    }

    @keyframes h2r {
        0% {
            transform: translateX(-100vw);
            opacity: 0;
        }

        20% {
            transform: translateX(-100vw);
            opacity: 0;
        }

        70% {
            transform: translateX(30vw);
        }

        100% {
            transform: translateX(0);
            opacity: 1;
        }

    }

    .section_1 {
        max-width: 90vw;
        margin: 0 auto;
    }



    .btn {
        background-color: #ffffff;
        color: #160017;
        padding: .80%;
        border: none;
        border-radius: 4%;
        border-end-start-radius: 20%;
        margin-right: 4%;
        margin-left: 4%;
        cursor: pointer;
        font-size: 2.5vw;

    }


    .ani_button {
        display: flex;
        justify-content: left;
        -ms-align-items: left;
        align-items: left;
        margin-left: 8%;
        margin-top: 6%;
    }

    .ani_btn {
        position: relative;
        width: 24vw;
        display: flex;
        justify-content: center;
        -ms-align-items: center;
        align-items: center;
        background-color: #b300b3;
        border-radius: 12px;
        overflow: hidden;
        transition: transform 0.2s, box-shadow 0.2s;
        cursor: pointer;
        position: relative;
        box-shadow: 10px 10px 10px -1px rgba(12, 12, 12, 0.751),
            -10px -10px 10px -1px rgba(0, 0, 0, 0.744);
    }

    .ani_btn:hover {
        transform: translateY(-5px);
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
    }

    .ani_btn p {
        color: #ffffff;
        font-size: 1.6vw;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        margin: 4%;
        z-index: 2;
        padding: 3%;
    }

    @media (max-width:500px) {

        .ani_btn {
            width: 30vw;
        }

        .ani_btn p {
            font-size: 2vw;
        }

        .ani_btn::after {
            inset: 1px;
        }
    }

    .ani_btn::before {
        content: '';
        position: absolute;
        width: 100px;
        height: 230px;
        margin-bottom: -80%;
        background: linear-gradient(#b300b357, #b300b349, #b300b356, #b300b37b, #ff33cf32, #ff5733, #ff33cf);
        animation: rotate 2s linear infinite;
        top: 0;
        left: 0;
        transform: scale(0);
        transition: transform 0.2s;
    }

    .ani_btn::after {
        content: '';
        position: absolute;
        background-color: #080808;
        margin-right: 1px;
        margin-top: 1px;
        inset: 2px;
        border-width: 1px;
        border-style: dotted solid;
        border-color: 1px dotted #7d2ae8;
        border-radius: 12px;
    }

    @keyframes rotate {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(260deg);
        }
    }

    .btn:hover {
        background-color: #0056b3;
        color: #fff;
    }

    @import url(http://fonts.googleapis.com/css?family=Open+Sans);
    @import url(http://fonts.googleapis.com/css?family=Montserrat:700);

    .accordion {
        width: 100%;
        max-width: 90vw;
        height: 350px;
        overflow: hidden;
        margin: 50px auto;
    }

    .accordion ul {
        width: 90%;
        display: table;
        table-layout: fixed;
        margin: 4%;
        padding: 0;
    }

    .accordion ul li {
        display: table-cell;
        vertical-align: bottom;
        position: relative;
        width: 16.666%;
        height: 350px;
        background-repeat: no-repeat;
        background-position: center center;
        transition: all 500ms ease;
        border-style: solid;
        border-color: rgba(158, 255, 219, 0.705);
        border-width: 0px 0px 0px 2px;
    }

    .accordion ul li div {
        display: block;
        overflow: hidden;
        width: 100%;
    }

    .accordion ul li div {
        display: block;
        height: 350px;
        width: 100%;
        position: relative;
        z-index: 3;
        vertical-align: bottom;
        padding: 15px 2px;
        box-sizing: border-box;
        color: #fff;
        text-decoration: none;
        font-family: Open Sans, sans-serif;
        transition: all 200ms ease;
    }

    .accordion ul li div a * {
        opacity: 1;
        margin: 0;
        padding-left: 10px;
        width: 100%;
        position: relative;
        z-index: 5;
        white-space: nowrap;
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px);
        -webkit-transition: all 500ms ease;
        transition: all 500ms ease;
    }

    .accordion ul li div a h2 {
        font-family: Montserrat, sans-serif;
        font-size: 16px;
        text-transform: uppercase;
        margin-top: 10px;
    }

    .accordion ul li div a p {
        font-size: 13.5px;
    }

    .client {
        font-family: Montserrat, sans-serif;
        text-overflow: clip;
        font-size: 16px;
        text-transform: uppercase;
        margin-top: 160px;

    }

    .accordion ul:hover li {
        width: 8%;
    }

    .accordion ul:hover li:hover {
        width: 60%;
    }

    .accordion ul:hover li:hover a {
        background: rgba(0, 0, 0, 0.4);
    }

    .accordion ul:hover li:hover a * {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    @media screen and (max-width: 100px) {

        body {
            margin: 0;
        }

        .accordion {
            height: auto;
        }

        .accordion ul li,
        .accordion ul li:hover,
        .accordion ul:hover li,
        .accordion ul:hover li:hover {
            position: relative;
            display: table;
            table-layout: fixed;
            width: 100%;
            -webkit-transition: none;
            transition: none;
        }
    }


    .bg {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        overflow-x: hidden;
    }
    .bg::before{
        content: '';
        position: absolute;
        height: 330px;
        width: 330px;
        border-radius: 50%;
        background: linear-gradient(rgba(249, 70, 160, 0.806), rgb(110, 2, 120));
        transform: translate(-200px, -250px);
        opacity: 0.6;
    }

    .bg::after{
        content: '';
        position: absolute;
        height: 330px;
        width: 330px;
        border-radius: 50%;
        background: linear-gradient(rgba(25, 0, 255, 0.936), rgb(110, 2, 120));
        transform: translate(200px, 400px);
        opacity: 0.4;
    }
    .bg .ball_1 {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        background-color: #ff33cf;
        transform: translate(-200px, 50px);
        position: absolute;
        opacity: 0.6;
    }
    .bg .ball_2 {
        height: 100px;
        width: 100px;
        border-radius: 50%;
        background-color: #fd0dc5a0;
        position: absolute;
        opacity: 0.6;
    }
    .section_3,
    .section_4 {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    }

    .section_3_items {
        border: 2px solid #4d1044d0;
        text-align: center;
        margin: 4%;
        padding: 4%;
        border-radius: 2vw;
        z-index: 4;
        backdrop-filter: blur(10px);
    }

    .section_3_items img {
        width: 30vw;
    }

    .section_3_items p,
    .section_4_items p {
        font-size: 3vw;
        text-align: justify;
    }

    .section_3_items h1,
    .section_4_child h2 {
        font-size: 4vw;
        font-weight: 400;
        margin-bottom: 4%;
    }

    .section_4_child {
        margin: 6%;
        padding: 4%;
        border-radius: 10px;
        background: rgba(255, 255, 255, 0.1);
        box-shadow: 0 1px 1px rgba(235, 233, 233, 0.71);
        backdrop-filter: blur(1px);
        z-index: 4;
        backdrop-filter: blur(5px);
    }
</style>
{% endblock %}
{% block body %}
<div class="title">
    <div class="title_child">
        <div class="title_items">
            <div class="title_items_role">
                <h1>I will put in the efforts to implement online reputations & best sales figures of your brand!
                    Communication erases the confusions.</h1>
            </div>
            <div class="ani_button">
                <a href="tel:+919563432724">
                    <div class="ani_btn">
                        <p>CALL ME NOW</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="title_items">
            <img src="/static/main.jpg" alt="">
        </div>
    </div>
</div>

<section class="section_1">
    <div class="section_1_child">
        <div class="section_1_items">
            <h1>I will help make your brand stand out With a proven strategy, we'll boost your ROI, brand reach, and
                identity.</h1>
            <p class="p1"> <span> &#10052 </span> Where is your business now <span> &#10068 </span></p>
            <p class="p2"> <span> &#10052 </span> Is it stagnating <span> &#10068 </span></p>
            <p class="p3"> <span> &#10052 </span> Are your campaigns underperforming <span> &#10068 </span></p>
            <p class="start"><i> It's time for a fresh start.</i></p>
        </div>
    </div>
</section>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const section1Items = document.querySelector('.section_1_items');
        const observer = new IntersectionObserver(entries => {
            entries.forEach(entry => {
                if (entry.isIntersecting) {
                    section1Items.classList.add('animate');
                    observer.unobserve(section1Items);
                }
            });
        });
        observer.observe(section1Items);
    });
</script>


<div class="accordion">
    <ul>
        <li style="border-color: rgb(219, 213, 255);">
            <div>
                <h2>Lorem Ipsum</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                <p class="client">Client name goes here</p>
            </div>
        </li>
        <li style="border-color: rgb(234, 255, 213);">
            <div>
                <h2>Lorem Ipsum</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            </div>
        </li>
        <li style="border-color: rgb(255, 213, 213);">
            <div>
                <h2>Lorem Ipsum</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            </div>
        </li>
        <li style="border-color: rgb(255, 182, 244);">
            <div>
                <h2>Lorem Ipsum</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            </div>
        </li>
        <li>
            <div>
                <h2>Lorem Ipsum</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
            </div>
        </li>
    </ul>
</div>
<div class="bg">
    <div class="ball_1"></div>
    <div class="ball_2"></div>
    <div class="section_3" id="section_3">
        <div class="section_3_items">
            
            <h1>GROW YOUR REVENUE & ROI!</h1>
            <img src="/static/section_3.webp" alt="">
            <p>Grow your revenue by understanding the market requirements & applications. Creators & businessmen face
                multiple challenges while operating a business or a channel with the help of digital sources. We have to
                take care of initial matters that you have to take care of.

                First, clarify your goal outline. I always take care of goals on a serious note. Without destination
                identification, we may not make a suitable path, or we fail to analyze our process!

                When it comes to strategy, by driving it properly, businesses handle the point of success. I take an
                additional period to make the proper strategy for our path & after getting effects, I follow the best
                thing
                for a business to drive more sales or growth.

                After the goal & making strategy, the analysis & the action to it are more than essential. The proper
                analysis can make you grow as soon as possible. I always trust that, if we have an idea about "What &
                why"
                then it will be easy to read a business analysis.
            </p>
            <div class="ani_button">
                <a href="tel:+919563432724">
                    <div class="ani_btn">
                        <p>CALL ME NOW</p>
                    </div>
                </a>
               
            </div>
        </div>
        <div class="ball_2"></div>
        <div class="section_3_items">
            <h1>SOLUTION TO PAIN OF INCOMPLETE TASKS!</h1>
            <img src="/static/section_3.webp" alt="">
            <p> Business is not about thoughts, it's all about implementation! The priority activities set our goal to a
                new
                reach. For each & every idea, need some specific actions.

                When I make a strategy for a business, the movement part is one of the vital parts of that plan, I
                accept.
                While creating a procedure program, I always keep in mind what is doable or not.

                Understanding the team is the crucial thing. That makes a difference. The skill set of a member defines
                their ability to complete a task. We have to share tasks as per ability, not as quantity.

                I have worked with multiple teams & members. I always know what they can put into our vision.

            </p>
            <div class="ani_button">
                <a href="tel:+919563432724">
                    <div class="ani_btn">
                        <p>CALL ME NOW</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="section_3_items">
            <h1>GROW YOUR KNOWLEDGE WITH ME WITHOUT ANY INVESTMENT!</h1>
            <img src="/static/section_3.webp" alt="">
            <p> Many small businesses have the potential to drive more sales & growth. By learning the lost points of
                firms,
                businesses or profiles can grow. In that case, you need some consultation to understand digital
                resources.

                Why it's important? People are spending money without ROI & outcome knowledge. As I know, marketing
                through
                online platforms is a new thing to many businessmen. But my consultation will help to grow the business
                without second thoughts or misuse of their hard money.

                Like, I saw a few dissimilar Facebook ads floating on my feed without proper guidance. They are
                investing
                the money in non-target audiences. I want to stop this kind of approach. Do what makes you feel
                "Satisfied."

                Just book a free consultation with me & understand how things are working nowadays. These 15 minutes
                give
                you an idea about "How to deal with Digital marketing approach."

            </p>
            <div class="ani_button">
                <a href="tel:+919563432724">
                    <div class="ani_btn">
                        <p>CALL ME NOW</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<h1 style="text-align: center;">SERVICES I OFFER</h1>
<div class="bg">
<div class="section_4">
    <div class="section_4_child">
        <div class="card">
            <lottie-player src="https://lottie.host/de01d656-99b1-4d3c-a8ff-1933aa7faf41/6aQtTYpzOS.json"
                background="transparent" speed="1" style="width: 30vw; padding: 4%; " direction="1" mode="normal" loop
                autoplay></lottie-player>
            <h2>Social Media Marketing</h2>
            <p>
                Maximize your online presence. My social media marketing strategies will help you stand out and drive
                business growth smartly.
            </p>
        </div>
    </div>
    <div class="section_4_child">
        <div class="card">
            <lottie-player src="https://lottie.host/a78de5f9-47ad-4a1d-a06b-af6e89d437b3/vzQq2dE5K6.json"
                background="transparent" speed="1" style="width: 30vw; padding: 4%; " direction="1" mode="normal" loop
                autoplay></lottie-player>
            <h2>Digital Marketing</h2>
            <p>
                I am here to upgrade the online performances with data-driven strategies. Let's enhance your brand and
                drive success.
            </p>
        </div>
    </div>
    
    <div class="section_4_child">
        <div class="card">
            <lottie-player src="https://lottie.host/5eca545b-2cf1-44ea-8a4e-a43beaa97c64/OO9nun21cK.json"
                background="transparent" speed="1" style="width: 30vw; padding: 4%;" direction="1" mode="normal" loop
                autoplay></lottie-player>
            <h2>Canva Design</h2>
            <p>
                I turn concepts into eye-catching & informative visuals. Canva, one of the finest tool to implement
                designs.
            </p>
        </div>
    </div>
    <div class="ball_1"></div>
</div>
</div>
<div class="design">
    <h1>My Canva Design Sample</h1>
    <div class="design_child">
        <div class="design_items">
            <img src="/static/Design2.png" alt="">
        </div>
        <div class="design_items">
            <img src="/static/Design10.png" alt="">
        </div>
    </div>
    <div class="design_see_more">
        <a href="/canva"><button>See More</button></a>
    </div>

</div>


<div class="expertis">
    <h1>Expertis</h1>
    <div class="expertis_child anim">
        <div class="expertis_items">
            <i class="fa-solid fa-chart-simple fa-beat-fade"></i>
            <h2>Digital Marketing Strategist</h2>
        </div>
        <div class="expertis_items">
            <i class="fa-solid fa-rectangle-ad fa-beat-fade"></i>
            <h2>Meta Ads</h2>
        </div>
        <div class="expertis_items">
            <i class="fa-solid fa-g fa-beat-fade"></i>
            <h2>Google Ads</h2>
        </div>
        <div class="expertis_items">
            <i class="fa-regular fa-envelope fa-beat"></i>
            <h2>Email Marketing</h2>
        </div>
        <div class="expertis_items">
            <i class="fa-solid fa-user-group fa-beat-fade"></i>
            <h2>Organic Social Media Managing</h2>
        </div>
        <div class="expertis_items">
            <i class="fa-solid fa-icons fa-beat"></i>
            <h2>Content Strategist</h2>
        </div>
        <div class="expertis_items">
            <i class="fa-solid fa-people-roof fa-beat-fade"></i>
            <h2>Marketing Team Management </h2>
        </div>
        <div class="expertis_items">
            <i class="fa-solid fa-palette fa-beat-fade"></i>
            <h2>Canva Design</h2>
        </div>
    </div>
</div>

<span class="h2r"
    style="background-color: chartreuse; color:darkviolet; padding-left: 4px; border-radius: 30%; margin-right: 4px;">
    &#10004 </span>
{% endblock %}