{% extends 'layout.html'%}

{% block body %}
<div class="title">
    <div class="name anim">
        <h1>PRASUN</h1>
        <h3>BHATTACHARYAY</h3>
        <p>Digital Marketer
            | Social Media Strategist
            | Canva Expert </p>
        <p>Digital marketing is the canvas, social media is the paint, and a Canva expert is the artist. Together, they
            create the masterpiece that captures the hearts and minds of the digital world</p>
    </div>

    <div class="image">
        <img src="/static/main.jpg" alt="">
    </div>
</div>
{% endblock %}