<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
     RealOne
    </title>
    <style>
        nav {
            display: flex;
            background-color: black;
            align-items: flex-end;

        }
        nav a {
            color: aliceblue;
            margin: 1%;
            font-size: small;
            font-style: normal;
            text-decoration: none;
            text-align: center;
        }
    </style>
</head>
<body>
    <nav>
        <a href="/">Home</a> <a href="/about">About Me</a>  <a href="/contact">Contact Us</a>
    </nav>
    {% block body %}

    {% endblock %}
</body>
</html>